---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { CDN, TYPE } from "../../constants/cdn";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import SectionTitle from "./SectionTitle.astro";
import type { Lang } from "../../types/languaje";

const lang = getLangFromUrl(Astro.url) as Lang;
const t = useTranslations(lang);

const projects = await getCollection(
  lang === "en" ? "projectsEn" : "projectsEs"
);
---

<div class="space-y-6 md:space-y-8">
  <SectionTitle title={t("about.projects.title")} />
  <div class="flex flex-col gap-6 md:gap-8 max-w-sm mx-auto">
    {
      projects
        .sort(
          (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
        )
        .filter((project) => project.data.showInAbout)
        .map((project) => (
          <a href={`/${lang}/projects/${project.id}?from=about`}>
            <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow duration-300 flex-col">
              {project.data.image ? (
                <figure class="w-full">
                  <img
                    src={`${CDN.IMAGES}${TYPE.PROJECT}${project.data.imageProjectPrefix}${project.data.image}`}
                    alt={project.data.title}
                    class="h-full w-full object-cover"
                  />
                </figure>
              ) : (
                <figure class="bg-gradient-to-r from-base-content to-base-300 w-full" />
              )}
              <div class="card-body">
                <h2 class="card-title text-lg font-bold">{project.data.title}</h2>
                <p class="text-base-content/80 text-sm">{project.data.description}</p>
                <div class="flex flex-wrap gap-2 my-2">
                  {project.data.tags &&
                    project.data.tags.slice(0, 3).map((tag: string) => (
                      <div class="badge badge-sm badge-outline text-primary">
                        {tag}
                      </div>
                    ))}
                </div>
              </div>
            </div>
          </a>
        ))
    }
  </div>
</div>
