---
import { getCollection, getEntry, render } from "astro:content";
import Prose from "../../../components/prose/Prose.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getLangFromUrl } from "../../../i18n/utils";

interface Props {
  params: {
    slug: string;
  };
}

export async function getStaticPaths() {
  const posts = await getCollection("blogEs");
  return posts.map((post) => ({
    params: { slug: post.id },
  }));
}

const { slug } = Astro.params;

const lang = getLangFromUrl(Astro.url) as "en" | "es";

const post = await getEntry("blogEs", slug as string);

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await render(post);
---

<MainLayout
  lang={lang}
  title={post.data.title}
  description={post.data.description}
  tags={post.data.tags}
>
  <a href={`/${lang}/blog`} class="btn btn-outline btn-sm mb-5">
    ← Volver al blog
  </a>
  <Prose>
    <Content />
  </Prose>
</MainLayout>
