---
import { useTranslations } from "../i18n/utils";
import '../styles/global.css';
import Navigation from '../components/Navigation/Navigation.astro';

interface Props {
  title?: string;
  lang: string;
  description?: string;
  image?: string;
  canonical?: string;
  type?: string;
  tags?: string[];
}

const { 
  title = "Código Obsidiana", 
  lang, 
  description, 
  image = "/assets/og-image.jpg", 
  canonical = Astro.url.href,
  type = "website",
  tags
} = Astro.props;

const t = useTranslations(lang as "en" | "es");
const siteDescription = description || t("meta.description");
const siteTitle = title || t("title");
const siteUrl = Astro.url.origin;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {
      tags?.map((tag) => (
        <meta name="keywords" content={tag} />
      ))
    }

    <!-- Primary Meta Tags -->
    <title>{siteTitle}</title>
    <meta name="title" content={siteTitle} />
    <meta name="description" content={siteDescription} />
    <link rel="canonical" href={canonical} />

    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={new URL(image, siteUrl).href} />
    <meta property="og:locale" content={lang === "en" ? "en_US" : "es_ES"} />
    <meta property="og:site_name" content="Código Obsidiana" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={siteTitle} />
    <meta property="twitter:description" content={siteDescription} />
    <meta property="twitter:image" content={new URL(image, siteUrl).href} />
  </head>
  <body class="min-h-screen text-base-content bg-base-200">
    <header>
      <Navigation lang={lang} />
    </header>
    <main class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-12 lg:px-24">
      <slot />
    </main>
    <footer class="text-center py-8">
      <p>&copy; {new Date().getFullYear()} - {t("footer.rights")}</p>
    </footer>
  </body>
</html>

<style is:global>
  body {
    margin: 0;
    min-height: 100vh;
  }
</style>