---
import { getCollection, getEntry, render } from "astro:content";
import Prose from "../../../components/prose/Prose.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getLangFromUrl } from "../../../i18n/utils";
import { CDN, TYPE } from "../../../constants/cdn";
import type { Lang } from "../../../types/languaje";

interface Props {
  params: {
    slug: string;
  };
}

export async function getStaticPaths() {
  const posts = await getCollection("blogEn");
  return posts.map((post) => ({
    params: { slug: post.id },
  }));
}

const lang = getLangFromUrl(Astro.url) as Lang;

const { slug } = Astro.params;

const post = await getEntry("blogEn", slug as string);

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await render(post);
---

<MainLayout
  lang={lang}
  title={post.data.title}
  description={post.data.description}
  tags={post.data.tags}
  image={`${CDN.IMAGES}${TYPE.BLOG}${post.data.image}`}
>
  <a href={`/${lang}/blog`} class="btn btn-outline btn-sm mb-5">
    ← Back to Blog
  </a>
  <Prose>
    <Content />
  </Prose>
</MainLayout>
